/*----------Body-----------*/
body {
    /*Fond d'écran*/
    background: radial-gradient(circle, rgb(37, 36, 66) 0%, rgb(26, 32, 39) 60%, rgb(28, 36, 63) 100%);

    /*police d'écriture global*/
    font-family: 'Roboto', sans-serif;
    color: white;
}

.center-box{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*----------LOGIN----------*/
#login{
    background: rgba(0, 0, 0, 0.199);

    /*bordures*/
    border:3px solid #1bd6f2;
    border-radius: 10px;
    box-shadow:0px 0px 10px 1px #bbf7f880, 0px 0px 10px 1px #bbf7f880 inset;

    /*placements*/
    margin: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login_titre{
    margin: 0;
    text-align: center;
}

#login h3{
    width: 100%;
}

#login input{
    outline: none;
    text-align: center;
    height: 25px;
    width: 100%;
    border:2px solid #1f0068e8;
    border-radius: 25px;
}

#login_button{
    background: rgba(128, 255, 0, 0.705);
    border: solid 1px rgb(185, 255, 115);
    border-radius: 25px;
    box-shadow:0px 0px 10px 1px #bbf8c380;
    margin: 10%;
    padding: 3px;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#login_subbutton button{
    border-radius: 3px;
    background: rgba(212, 212, 212, 0.705);
    border: solid 1px rgb(228, 228, 228);
}

@media screen and (max-width: 360px){
    #login_subbutton{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #login_subbutton button{
        margin: 2%;
    }
}